<!DOCTYPE html>
<html>
  <head>
    <title><%=event.name%> | Event | Backfood</title>
 
	<% include includes/styles-and-scripts.html %>    

	<script type="text/javascript">
		$(function(){
			$.getJSON("/attendees/<%=event._id%>", function(atts) {
				var fblines = [];
				var attlines = [];
				attlines.push("<ul>");
				$.each(atts, function(row, att){
					if (att.feedback)
					{
						fblines.push("<blockquote>&ldquo;" + att.feedback + "&rdquo;</blockquote>");
					}
					attlines.push("<li>" + att.person + "</li>");
				});
				attlines.push("</ul>");
				$("#attendees").html(attlines.join(""));
				$("#feedbacks").html(fblines.join(""));
				
				$("#qrcode-help-link").click(qrcodeModal);
			})
		});
	
		function qrcodeModal()
		{
			$("#qrcode-help-modal .modal-body").load("/help/qrcode", {"ajax" : true});
			$("#qrcode-help-modal").modal("show");
			return false;
		}
	</script>
  </head>
  <body>
  	<% include includes/header.html %>
  	
  	<div class="container">
  	
  		<div class="row-fluid">
  			<div class="span6">
			    <h2><small>Event:</small> <%= event.name %></h1>
			    <h3><small>Organiser:</small> <%= event.tutor %></h2>
			    
			    <!-- <p>event id: <%= event._id %></p> -->
			</div>
			<div class="span6">
			    <%- event.qr%>
			    <p><small><a href="#" id="qrcode-help-link">What's this?</a></small></p>
			</div>
	    </div>
	    
	    <div class="row-fluid">
		    <div class="span6">
		    	<h3>Attendees</h3>
		    	<div id="attendees"></div>
		    </div>
		    <div class="span6">
		    	<h3>Feedback</h3>
			    <div id="feedbacks"></div>
			</div>
		</div>
		
	</div> <!-- container -->
		
	<div class="modal fade hide" id="qrcode-help-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>Backfood Help</h3>
    	</div>
		<div class="modal-body">
			Loading...
		</div>
	</div>
	
	<script src="/javascripts/analytics.js" type="text/javascript"></script>
  </body>
</html>
